@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
  background-image: url("/images/chartimage.avif");
  background-size: 80rem;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* td,
tr,
th {
  border-bottom: 1px solid #333;
} */

td,
th {
  padding: 0.8rem;
}

/* th {
  background-color: skyblue;
}

td {
  background-color: white;
} */

thead {
  background-color: skyblue;
}

tbody {
  background-color: white;
}

table {
  text-align: center;
}

.active-stocks,
.stock-info,
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3,
h2,
h1,
p {
  text-align: center;
  color: whitesmoke;
}

form {
  text-align: center;
}

button {
  color: white;
  background-color: blue;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 14px;
}

button:hover {
  background-color: rgb(0, 162, 255);
}

input {
  padding: 6px 4px;
}

.dollar {
  float: left;
}

.data {
  float: right;
}
