@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* td,
tr,
th {
  border-bottom: 1px solid #333;
} */

td,
th {
  /* margin: 1.5rem; */
  padding: 0.8rem;
}

th {
  background-color: skyblue;
}

td {
  background-color: white;
}
/* tr,
tfoot {
  border-bottom: 1px solid #333;
} */

table {
  text-align: center;
}

.active-stocks,
.stock-info,
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2,
h1,
p {
  text-align: center;
}

form {
  text-align: center;
}
