@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
  background-image: url("/images/chartimage.avif");
  background-size: 80rem;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

td,
th {
  padding: 0.8rem;
  border-bottom: 1px solid grey;
}

.hover:hover {
  background-color: lightcyan;
}

thead {
  background-color: skyblue;
}

tbody {
  background-color: white;
}

table {
  text-align: center;
  border-collapse: collapse;
}

.active-stocks,
.stock-info,
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3,
h2,
h1,
p {
  text-align: center;
  color: whitesmoke;
}

form {
  text-align: center;
}

button {
  color: white;
  background-color: blue;
  padding: 0.4rem 0.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
}

button:hover {
  background-color: rgb(0, 162, 255);
}

input {
  padding: 0.4rem 0.3rem;
}

#filter {
  padding: 0.2rem 0.5rem;
  margin-left: 0.3rem;
}

.dollar {
  float: left;
}

.data {
  float: right;
}

.filter {
  display: inline;
}
