.navbar {
  height: 3.5rem;
  background-color: rgba(0, 0, 255, 1);
}

.navbar nav {
  height: 100%;
}

.navbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.navbar li {
  margin: 0 1rem;
  width: 10rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: yellow;
  padding-bottom: 0.25rem;
  font-size: 1.1rem;
  /* border-bottom: 1px solid yellow; */
}
